<h1>Restaurants</h1>

<div class="container">
<ol>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant)  %></li>
<% end %>
</ol>
</div>

<%= link_to 'Add a new Restaurant', new_restaurant_path %>
